---
- name: Vérifier que les variables source et destination sont renseignées
  fail:
    msg: "Les variables 'unarchive_src' et 'unarchive_dest' doivent être renseignées."
  when: unarchive_src == "" or unarchive_dest == ""

- name: Extraire l'archive dans le répertoire cible
  unarchive:
    src: "{{ unarchive_src }}"
    dest: "{{ unarchive_dest }}"
    remote_src: "{{ unarchive_remote_src }}"
    owner: "{{ unarchive_owner }}"
    group: "{{ unarchive_group }}"
    mode: "{{ unarchive_mode }}"
    extra_opts: [--no-same-owner]
  become: yes

- name: Supprimer le fichier archive après extraction si demandé
  file:
    path: "{{ unarchive_src }}"
    state: absent
  when: unarchive_delete_after and unarchive_remote_src
  become: yes
