---
- name: Créer l'utilisateur système Prometheus
  user:
    name: "{{ prometheus_user }}"
    system: yes
    shell: /bin/false
    home: "/var/lib/prometheus"
    create_home: yes
  become: yes

- name: Créer les répertoires Prometheus
  file:
    path: "{{ item }}"
    state: directory
    owner: "{{ prometheus_user }}"
    group: "{{ prometheus_user }}"
    mode: '0755'
  loop:
    - "/etc/prometheus"
    - "/var/lib/prometheus"
  become: yes

- name: Télécharger et installer Prometheus
  unarchive:
    src: "https://github.com/prometheus/prometheus/releases/download/v{{ prometheus_version }}/prometheus-{{ prometheus_version }}.linux-amd64.tar.gz"
    dest: "/tmp"
    remote_src: yes
    creates: "/usr/local/bin/prometheus"
  become: yes

- name: Copier les binaires Prometheus
  copy:
    src: "/tmp/prometheus-{{ prometheus_version }}.linux-amd64/{{ item }}"
    dest: "/usr/local/bin/{{ item }}"
    owner: root
    group: root
    mode: '0755'
    remote_src: yes
  loop:
    - prometheus
    - promtool
  become: yes

- name: Déployer la configuration Prometheus
  template:
    src: prometheus.yml.j2
    dest: /etc/prometheus/prometheus.yml
    owner: "{{ prometheus_user }}"
    group: "{{ prometheus_user }}"
    mode: '0644'
  notify: Restart Prometheus
  become: yes

- name: Déployer le service systemd Prometheus
  template:
    src: prometheus.service.j2
    dest: /etc/systemd/system/prometheus.service
    owner: root
    group: root
    mode: '0644'
  notify: Reload systemd
  become: yes

- name: Activer et démarrer Prometheus
  service:
    name: prometheus
    state: started
    enabled: "{{ monitoring_services_enabled }}"
    daemon_reload: yes
  become: yes
