---
- name: Vérifier que les variables source et destination sont renseignées
  fail:
    msg: "Les variables 'template_src' et 'template_dest' doivent être renseignées."
  when: template_src == "" or template_dest == ""

- name: Déployer le fichier template
  template:
    src: "{{ template_src }}"
    dest: "{{ template_dest }}"
    owner: "{{ template_owner }}"
    group: "{{ template_group }}"
    mode: "{{ template_mode }}"
  become: yes
