---
postgres_packages:
  - postgresql
  - postgresql-contrib
  - python3-psycopg2

postgres_version: 13

postgres_listen_address: "127.0.0.1"
postgres_port: 5432

# Utilisateur PostgreSQL à créer avec tous les droits
postgres_user_name: ""
postgres_user_password: ""

postgres_data_dir: "/var/lib/postgresql/{{ postgres_version }}/main"
postgres_config_dir: "/etc/postgresql/{{ postgres_version }}/main"
