# Fichier généré par Ansible (postgresql_role)
# ATTENTION : ceci est un exemple. En prod, il faut le restreindre sévèrement.

local   all             all                                     trust
host    all             all             127.0.0.1/32            trust
host    all             all             ::1/128                 trust

# Autoriser l'accès depuis n'importe où (0.0.0.0/0) en md5
# En prod, tu limiteras à des réseaux spécifiques
host    all             all             0.0.0.0/0               md5