---
- name: Déterminer la famille OS
  set_fact:
    python3_packages: "{{ python3_packages_debian if ansible_os_family == 'Debian' else python3_packages_redhat }}"

- name: Mettre à jour la cache des paquets si demandé (Debian)
  apt:
    update_cache: yes
  when: ansible_os_family == "Debian" and python3_update_cache
  become: yes

- name: Mettre à jour la cache des paquets si demandé (RedHat)
  yum:
    update_cache: yes
  when: ansible_os_family == "RedHat" and python3_update_cache
  become: yes

- name: Installer les paquets Python3 requis
  package:
    name: "{{ python3_packages }}"
    state: present
  become: yes
