---
# copy_one.yml
# Copie un seul fichier, en fonction de copy_item

- name: Utiliser template pour un fichier Jinja2
  ansible.builtin.template:
    src: "{{ copy_item.src }}"
    dest: "{{ copy_item.dest }}"
    owner: "{{ copy_item.owner | default('root') }}"
    group: "{{ copy_item.group | default('root') }}"
    mode: "{{ copy_item.mode | default('0644') }}"
  when: copy_item.template | default(false) | bool

- name: Utiliser copy pour un fichier statique
  ansible.builtin.copy:
    src: "{{ copy_item.src }}"
    dest: "{{ copy_item.dest }}"
    owner: "{{ copy_item.owner | default('root') }}"
    group: "{{ copy_item.group | default('root') }}"
    mode: "{{ copy_item.mode | default('0644') }}"
  when: not (copy_item.template | default(false) | bool)