# Fichier généré par Ansible (timesync_role) pour ntp

driftfile /var/lib/ntp/ntp.drift

{% for srv in timesync_role_ntp_servers %}
server {{ srv }} iburst
{% endfor %}

restrict default kod nomodify notrap nopeer noquery
restrict 127.0.0.1
restrict ::1