---
- name: Mettre à jour la liste des paquets apt
  apt:
    update_cache: yes
  become: yes

- name: Installer paquets PHP de base
  apt:
    name: "{{ php_packages }}"
    state: present
  become: yes

- name: Installer MariaDB si activé
  apt:
    name: "{{ mariadb_packages }}"
    state: present
  when: use_mariadb
  become: yes

- name: Installer PostgreSQL si activé
  apt:
    name: "{{ postgres_packages }}"
    state: present
  when: use_postgres
  become: yes

- name: Installer Oracle si activé
  apt:
    name: "{{ oracle_packages }}"
    state: present
  when: use_oracle
  become: yes

- name: Installer MySQL si activé
  apt:
    name: "{{ mysql_packages }}"
    state: present
  when: use_mysql
  become: yes

- name: Déployer configuration vhost Apache
  template:
    src: vhost.conf.j2
    dest: "/etc/apache2/sites-available/{{ web_domain }}.conf"
    owner: root
    group: root
    mode: '0644'
  notify: Reload Apache
  become: yes

- name: Activer le site Apache
  command: a2ensite "{{ web_domain }}.conf"
  args:
    creates: "/etc/apache2/sites-enabled/{{ web_domain }}.conf"
  notify: Reload Apache
  become: yes

- name: Déployer page index.php dans le document root
  template:
    src: index.php.j2
    dest: "{{ web_doc_root }}/index.php"
    owner: www-data
    group: www-data
    mode: '0644'
  notify: Reload Apache
  become: yes

- name: S'assurer que le répertoire document root existe
  file:
    path: "{{ web_doc_root }}"
    state: directory
    owner: www-data
    group: www-data
    mode: '0755'
  become: yes

- name: Activer et démarrer Apache2
  service:
    name: apache2
    state: started
    enabled: yes
  become: yes
