<?php
$servername = "localhost";
$username = "{{ apache2_php_mariadb_db_user }}";
$password = "{{ apache2_php_mariadb_db_password }}";
$dbname = "{{ apache2_php_mariadb_db_name }}";

echo "<h1>Test PHP + MariaDB</h1>";

try {
    $pdo = new PDO("mysql:host=$servername;dbname=$dbname", $username, $password);
    $pdo->setAttribute(PDO::ATTR_ERRMODE, PDO::ERRMODE_EXCEPTION);
    echo "<p>Connexion à la base de données réussie !</p>";
} catch(PDOException $e) {
    echo "<p>Erreur de connexion : " . $e->getMessage() . "</p>";
}
?>