<VirtualHost *:{{ apache2_php_mariadb_listen_port }}>
    ServerName {{ apache2_php_mariadb_server_name }}
    DocumentRoot {{ apache2_php_mariadb_document_root }}

    <Directory {{ apache2_php_mariadb_document_root }}>
        Options Indexes FollowSymLinks
        AllowOverride All
        Require all granted
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/{{ apache2_php_mariadb_server_name }}_error.log
    CustomLog ${APACHE_LOG_DIR}/{{ apache2_php_mariadb_server_name }}_access.log combined
</VirtualHost>