---
- name: Mettre à jour le cache des paquets si demandé
  package:
    update_cache: yes
  when: package_update_cache
  become: yes

- name: Installer, mettre à jour ou supprimer les paquets spécifiés
  package:
    name: "{{ package_list }}"
    state: "{{ package_state }}"
  become: yes
