---
# Rôle : package_role
# Objectif : gérer des paquets de façon dynamique et multi-OS pro

- name: Ne rien faire si package_role_manage est à false
  ansible.builtin.debug:
    msg: "package_role_manage est à false : aucune gestion de paquets exécutée."
  when: not package_role_manage
  tags: [packages]

# Message si aucune action
- name: Aucune action de gestion de paquets demandée
  ansible.builtin.debug:
    msg: "package_role_items est vide : aucun paquet à gérer."
  when:
    - package_role_manage
    - package_role_items | length == 0
  tags: [packages]

# Gestion des paquets - dispatcher par OS / manager
- name: Gérer les paquets (dispatcher)
  ansible.builtin.include_tasks: manage_one.yml
  loop: "{{ package_role_items }}"
  loop_control:
    loop_var: package_item
    label: "{{ package_item.name }}"
  when:
    - package_role_manage
    - package_role_items | length > 0
  tags: [packages]