---
- name: Télécharger kubectl
  get_url:
    url: "https://dl.k8s.io/release/{{ kubectl_version }}/bin/linux/amd64/kubectl"
    dest: "{{ kubernetes_bin_dir }}/kubectl"
    mode: '0755'
  become: yes

- name: Télécharger Helm
  get_url:
    url: "https://get.helm.sh/helm-{{ helm_version }}-linux-amd64.tar.gz"
    dest: "/tmp/helm-{{ helm_version }}-linux-amd64.tar.gz"
  become: yes

- name: Extraire helm dans le répertoire binaire
  unarchive:
    src: "/tmp/helm-{{ helm_version }}-linux-amd64.tar.gz"
    dest: "/tmp"
    remote_src: yes
    mode: '0755'
    creates: "/tmp/linux-amd64/helm"
  become: yes

- name: Déplacer le binaire Helm
  copy:
    src: "/tmp/linux-amd64/helm"
    dest: "{{ kubernetes_bin_dir }}/helm"
    mode: '0755'
  become: yes

- name: Nettoyer fichiers temporaires Helm
  file:
    path: "/tmp/linux-amd64"
    state: absent
  become: yes

- name: Télécharger k9s
  get_url:
    url: "https://github.com/derailed/k9s/releases/download/{{ k9s_version }}/k9s_Linux_amd64.tar.gz"
    dest: "/tmp/k9s_{{ k9s_version }}_linux_amd64.tar.gz"
  become: yes

- name: Extraire k9s
  unarchive:
    src: "/tmp/k9s_{{ k9s_version }}_linux_amd64.tar.gz"
    dest: "/tmp"
    remote_src: yes
    mode: '0755'
    creates: "/tmp/k9s"
  become: yes

- name: Déplacer k9s binaire
  copy:
    src: "/tmp/k9s"
    dest: "{{ kubernetes_bin_dir }}/k9s"
    mode: '0755'
  become: yes

- name: Nettoyer fichiers temporaires k9s
  file:
    path: "/tmp/k9s"
    state: absent
  become: yes

- name: Vérifier les versions installées
  command: "{{ item }} version --client"
  loop:
    - kubectl
    - helm
    - k9s
  register: version_check
  ignore_errors: yes
  changed_when: false
  become: yes
