---
- name: Installer les paquets MariaDB
  apt:
    name: "{{ mariadb_packages }}"
    state: present
    update_cache: yes
  become: yes

- name: Déployer la configuration MariaDB personnalisée
  template:
    src: my.cnf.j2
    dest: /etc/mysql/mariadb.conf.d/99-custom.cnf
    owner: root
    group: root
    mode: '0644'
  notify: Restart MariaDB
  become: yes

- name: Activer et démarrer le service MariaDB
  service:
    name: mariadb
    state: started
    enabled: yes
  become: yes

- name: Définir mot de passe root et activer root localhost uniquement
  mysql_user:
    name: root
    host: "localhost"
    password: "{{ mariadb_root_password }}"
    login_unix_socket: /var/run/mysqld/mysqld.sock
    check_implicit_admin: yes
    priv: "*.*:ALL,GRANT"
    state: present
  become: yes

- name: Supprimer les utilisateurs root distants (accès root non localhost)
  mysql_user:
    name: root
    host: "{{ item }}"
    state: absent
    login_user: root
    login_password: "{{ mariadb_root_password }}"
  loop:
    - '%'
    - '::1'
    - '127.0.0.1'
  become: yes

- name: Supprimer les utilisateurs anonymes
  mysql_user:
    name: ''
    host_all: yes
    state: absent
    login_user: root
    login_password: "{{ mariadb_root_password }}"
  become: yes

- name: Supprimer la base de test
  mysql_db:
    name: test
    state: absent
    login_user: root
    login_password: "{{ mariadb_root_password }}"
  become: yes

- name: Créer un utilisateur MariaDB avec tous privilèges si défini
  mysql_user:
    name: "{{ mariadb_user_name }}"
    password: "{{ mariadb_user_password }}"
    host: "%"
    priv: "*.*:ALL PRIVILEGES"
    state: present
    login_user: root
    login_password: "{{ mariadb_root_password }}"
  when: mariadb_user_name != "" and mariadb_user_password != ""
  become: yes

- name: Recharger les privilèges MySQL
  mysql_query:
    login_user: root
    login_password: "{{ mariadb_root_password }}"
    query: "FLUSH PRIVILEGES;"
  become: yes
