---
- name: Installer les paquets PostgreSQL
  apt:
    name: "{{ postgres_packages }}"
    state: present
    update_cache: yes
  become: yes

- name: Déployer configuration postgresql.conf personnalisée
  template:
    src: postgresql.conf.j2
    dest: "{{ postgres_config_dir }}/postgresql.conf"
    owner: postgres
    group: postgres
    mode: '0644'
  notify: Restart PostgreSQL
  become: yes

- name: Activer et démarrer le service postgresql
  service:
    name: postgresql
    state: started
    enabled: yes
  become: yes

- name: Assurer la création de l'utilisateur PostgreSQL avec mot de passe
  postgresql_user:
    name: "{{ postgres_user_name }}"
    password: "{{ postgres_user_password }}"
    encrypted: yes
    login_user: postgres
    state: present
  when: postgres_user_name != "" and postgres_user_password != ""
  become: yes
  become_user: postgres
