---
- name: Vérifier que le nom d’utilisateur est défini
  fail:
    msg: "La variable 'user_name' doit être renseignée."
  when: user_name == ""

- name: Créer ou modifier un utilisateur système
  user:
    name: "{{ user_name }}"
    uid: "{{ user_uid | default(omit) }}"
    group: "{{ user_group | default(omit) }}"
    groups: "{{ user_groups | default(omit) }}"
    shell: "{{ user_shell }}"
    home: "{{ user_home | default(omit) }}"
    password: "{{ user_password | default(omit) }}"
    create_home: "{{ user_create_home }}"
    state: "{{ user_state }}"
  become: yes
