# Fichier généré par le rôle mariadb_role
# Basé sur la configuration par défaut de MariaDB

[server]
[mysqld]

user                    = mysql
pid-file                = /run/mysqld/mysqld.pid
socket                  = /run/mysqld/mysqld.sock
basedir                 = /usr
datadir                 = /var/lib/mysql
tmpdir                  = /tmp
lc-messages-dir         = /usr/share/mysql
bind-address            = {{ mariadb_role_bind_address }}

# Disallow remote root login by default
skip-external-locking

# LOGGING
log_error = /var/log/mysql/error.log