---
- name: Vérifier que l'URL du dépôt Git est définie
  fail:
    msg: "La variable 'git_repo_url' est obligatoire."
  when: git_repo_url == ""

- name: Vérifier que le chemin de destination est défini
  fail:
    msg: "La variable 'git_dest' est obligatoire."
  when: git_dest == ""

- name: Cloner ou mettre à jour le dépôt Git
  git:
    repo: "{{ git_repo_url }}"
    dest: "{{ git_dest }}"
    version: "{{ git_version }}"
    force: "{{ git_force }}"
    update: true
    accept_hostkey: yes
  become: yes

- name: Appliquer le propriétaire et groupe sur le répertoire cloné
  file:
    path: "{{ git_dest }}"
    owner: "{{ git_owner }}"
    group: "{{ git_group }}"
    recurse: yes
  become: yes
