---
- name: Vérifier que file_path est défini
  fail:
    msg: "La variable 'file_path' est obligatoire."
  when: file_path == ""

- name: Vérifier que file_src est défini si l'état est 'link'
  fail:
    msg: "La variable 'file_src' est obligatoire lorsque file_state est 'link'."
  when: file_state == "link" and file_src == ""

- name: Gérer le fichier, répertoire ou lien symbolique avec module file
  file:
    path: "{{ file_path }}"
    state: "{{ file_state }}"
    owner: "{{ file_owner }}"
    group: "{{ file_group }}"
    mode: "{{ file_mode }}"
    src: "{{ file_src | default(omit) }}"
    follow: "{{ file_follow }}"
  become: yes
