APP_ENV={{ app_env | default('dev') }}
APP_DEBUG={{ app_debug | default(true) }}
APP_NAME={{ app_name | default('MyApp') }}
DB_HOST={{ db_host | default('localhost') }}
DB_USER={{ db_user | default('user') }}
DB_PASS={{ db_pass | default('password') }}