server {
    listen {{ vhost_listen | default(80) }};
    server_name {{ vhost_server_name | default('_') }};

    root {{ vhost_root | default('/var/www/html') }};
    index index.php index.html index.htm;

    access_log /var/log/nginx/{{ vhost_server_name | default('default') }}_access.log;
    error_log  /var/log/nginx/{{ vhost_server_name | default('default') }}_error.log;

    location / {
        try_files $uri $uri/ =404;
    }
}