---
- name: Installer firewalld et paquets associés
  apt:
    name: "{{ firewalld_packages }}"
    state: present
    update_cache: yes
  become: yes

- name: Activer et démarrer firewalld
  service:
    name: firewalld
    state: started
    enabled: "{{ firewalld_enabled }}"
  become: yes

- name: Ouvrir les ports spécifiés dans firewalld
  firewalld:
    port: "{{ item }}"
    permanent: yes
    zone: "{{ firewalld_zone }}"
    state: enabled
  loop: "{{ firewalld_ports }}"
  when: firewalld_ports | length > 0
  become: yes

- name: Autoriser les services spécifiés dans firewalld
  firewalld:
    service: "{{ item }}"
    permanent: yes
    zone: "{{ firewalld_zone }}"
    state: enabled
  loop: "{{ firewalld_services }}"
  when: firewalld_services | length > 0
  become: yes

- name: Recharger la configuration firewalld pour appliquer les changements
  command: firewall-cmd --reload
  when: (firewalld_ports | length > 0) or (firewalld_services | length > 0)
  become: yes
